<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Technology Product Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wishlist.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-logo">
            <a href="/">TechFinder</a>
        </div>
        <div class="nav-actions">
            
        </div>
    </nav>

    <!-- Header Section -->
    <header class="header">
        <h1 class="head1">Your Wishlist</h1>
        <p class="subtitle">Manage your favorite products</p>
    </header>


    <!-- Link to JavaScript file -->
    <script src="{{ url_for('static', filename='js/wishlist.js') }}"></script>
</body>
</html>
